.entry-page {
    width: 500px;
    height: 500px;
    background-color:#9ec9ff;
    margin: 150px auto;
    display: flex;
    
}

.form-box{
    width: 100%;
    height: 100%;
    background-color:#9ec9ff;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    
}
 